extends layout.pug

block content
    div.mainPageContent
        h1 Articles
        each val in allArticles
            div.allBlogs
                h2.title= val.title
                p.titleName= val.authorfirstname + " " + val.authorlastname + " | " + val.authoremail
                p.titleDescription= val.description
                form(action=`/article/viewblog${val.id}`, method='GET')
                    input(type='submit', value='VIEW -->' class="inputViewBtn")

